[Desktop Entry]
Name=🚀 Ethereal Game Boost
Comment=EtherealOS Hyper-Threading Performance Engine
Exec=python3 /home/abdallah/EtherealOS-Repo/Ethereal-GameMode.py
Icon=input-gaming
Terminal=false
Type=Application
Categories=System;Utility;
