[Desktop Entry]
Type=Application
Name=🪐 Update EtherealOS
Comment=Fetch latest system patches from GitHub
Exec=bash -c "cd ~/ethereal-update && git pull && python3 Ethereal-Update-Manager.py"
Icon=system-software-update
Terminal=false
Categories=System;Settings;
Keywords=update;patch;ethereal;
